<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fothello.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FothelloMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FothelloWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FothelloWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FothelloWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D509D5D61CC89F8C0028C082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D509D5ED1CC89F8C0028C082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D509D5F81CC89F8C0028C082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D509D61B1CC8A7AE0028C082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5441B211831CB1100B5166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5441B4C1831CB1100B5166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ED04801CE985FE0099A01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F567EC1D111C6200998C14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F5E41D1CC128E000A5A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F5E4341CC128E000A5A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F5E43F1CC128E000A5A023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
